/.bundle

/.env*
!/.env*.erb

/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

/tmp/pids/*
!/tmp/pids/
!/tmp/pids/.keep

/storage/*
!/storage/.keep
/tmp/storage/*
!/tmp/storage/
!/tmp/storage/.keep

/public/assets
/public/uploads

/config/master.key
/config/credentials/*.key
/config/database.yml
/public/vite*
node_modules
*.local

/config/credentials/development.key
vendor/*
/vendor/bundle/
/.bundle/
/.rbenv/
!/vendor/assets/
/vendor/assets/*
!/vendor/assets/stylesheets/
/vendor/assets/javascripts/

.vscode/

/tmp*

/app/assets/builds/*
!/app/assets/builds/.keep
.github/copilot-instructions.md
.windsurfrules
.cursor/*
./yarn/*
.pnp.cjs
.pnp.loader.mjs
