<div data-controller="shared--audio-player">
  <% if defined?(asset_path) && begin asset_path('music.mp3') rescue nil end %>
  <audio data-shared--audio-player-target="audio" src="<%= asset_path('music.mp3') %>" preload="auto"></audio>
  <% else %>
  <audio data-shared--audio-player-target="audio" preload="auto"></audio>
  <% end %>

  <button data-action="shared--audio-player#toggleMusic" class="fixed bottom-4 right-4 z-50 bg-gray-800/40 hover:bg-gray-800/60 backdrop-blur-md text-white p-3 rounded-full shadow-lg transition-all " aria-label="Toggle Background Music" data-shared--audio-player-target="toggleButton">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" data-shared--audio-player-target="mutedIcon" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5.586 15H4a1 1 0 01-1-1v-4a1 1 0 011-1h1.586l4.707-4.707C10.923 3.663 12 4.109 12 5v14c0 .891-1.077 1.337-1.707.707L5.586 15z" />
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2" />
    </svg>

    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 hidden" data-shared--audio-player-target="playingIcon" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.536 8.464a5 5 0 010 7.072m2.828-9.9a9 9 0 010 12.728M5.586 15H4a1 1 0 01-1-1v-4a1 1 0 011-1h1.586l4.707-4.707C10.923 3.663 12 4.109 12 5v14c0 .891-1.077 1.337-1.707.707L5.586 15z" />
    </svg>
  </button>
</div>
