<div
  data-controller="shared--toaster"
  data-notice="<%= flash[:notice] %>"
  data-alert="<%= flash[:alert] %>"
  data-shared--toaster-auto-close-value="true"
  data-shared--toaster-duration-value="5000"  
></div>
